Django==1.6.4
South==0.8.4
Twisted==13.2.0
argparse==1.2.1
beautifulsoup4==4.3.2
cffi==0.8.2
cryptography==0.4
django-allauth==0.16.1
oauthlib==0.6.1
pyOpenSSL==0.14
pycparser==2.10
python-openid==2.2.5
pytz==2014.2
requests==2.2.1
requests-oauthlib==0.4.0
romkan==0.2.1
six==1.6.1
uWSGI==2.0.4
wsgiref==0.1.2
zope.interface==4.1.1
